Problem 1: Unique Words in a Sentence


---

In [28]:
# Define the input sentence
sentence = "Python is easy and Python is powerful"

# Split the sentence into individual words based on spaces
words = sentence.split(" ")

# Convert the list of words into a set to automatically remove duplicate words
result = set(words)

# Print the count of unique words found in the sentence
print(f"Unique words count: {len(result)}")
# Print the set of unique words
print(f"Unique words: {result}")

Unique words count: 5
Unique words: {'is', 'and', 'powerful', 'easy', 'Python'}

Problem 2: Highest Salary from Employee Data


---

In [13]:

employees_salary = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}


highest_salary = max(employees_salary.values())

highest_paid_employees = [name for name, salary in employees_salary.items() if salary == highest_salary]


print(f"Highest salary: {highest_paid_employees[0]} - {highest_salary}")

Highest salary: Ravi - 75000

Problem 3: Find Maximum and Minimum Values


---

In [15]:
numbers = [45, 22, 89, 10, 66]

max = max(numbers)
min = min(numbers)

print(f"Max: {max}")
print(f"Min: {min}")

Max: 89
Min: 10

Problem 4: Count Products Above a Price Threshold


---

In [16]:
prices = [450, 1200, 899, 1500, 300]
product_count = 0

for price in prices:
  if price > 1000:
    product_count += 1

print(f"Products above 1000 : {product_count}")

Products above 1000 : 2

Problem 5: Calculate Attendance Percentage


---

In [18]:
attendance = ["P", "P", "A", "P", "P"]

present_count = 0

for status in attendance:
  if status == "P":
    present_count += 1

percentage = (present_count / len(attendance)) * 100

print(f"Attendance percentage: {percentage:.0f}%")

Attendance percentage: 80%

Problem 6: Remove Duplicate Phone Numbers


---

In [19]:
phone_numbers = [9876543210, 9123456789, 9876543210]

result = set(phone_numbers)

print(f"Unique phone numbers: {result}")

Unique phone numbers: {9876543210, 9123456789}

Problem 7: Count Character Frequency


---

In [23]:
string = "Python Programming"

char_frequency = {}
for char in string:
  if char != ' ':
    char_frequency[char.lower()] = char_frequency.get(char.lower(), 0) + 1

print(char_frequency)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 2, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 1}

Problem 8: Convert List to Tuple


---

In [24]:
jersey_list = [1, 7, 8, 10, 18, 44, 99]

result = tuple(jersey_list)

print(f"Tuple: {result}")

Tuple: (1, 7, 8, 10, 18, 44, 99)

Problem 9: Check if a Key Exists in a Dictionary

---

In [26]:
Employee_id = {"Alice": 1, "Bob": 2, "Charlie": 3}

if "David" in Employee_id:
  print("Employee ID exists")
else:
  print("Employee ID does not exist")

Employee ID does not exist

Problem 10: Calculate Average Marks

---

In [27]:
marks = [70, 80, 65, 75]

# Calculate the sum of the marks
total_marks = sum(marks)

# Calculate the number of marks
number_of_marks = len(marks)

# Calculate the average
average_marks = total_marks / number_of_marks

print(f"Average Marks: {average_marks}")

Average Marks: 72.5